---
permalink: /j4-update.xml
---

<?xml version="1.0" encoding="utf-8"?><updates>
  <update>
    <name>Invalidate Cache</name>
    <version>{{metaInfo.version}}</version>
    <infourl title="Invalidate Cache"><![CDATA[{{metaInfo.url}}]]></infourl>
    <downloads>
      <downloadurl type="full" format="zip"><![CDATA[{{metaInfo.url}}/dist/j4/mod_invalidatecache_{{metaInfo.version}}.zip]]></downloadurl>
    </downloads>
    <targetplatform name="joomla" version="4.*"/>
    <element>mod_invalidatecache</element>
    <type>module</type>
    <client>1</client>
  </update>
</updates>
